<div class="row">

  <div class="col-3 chart-sidebar-line">
    <div>
      <p>歷史訊息</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="border:none">
        <img src="https://via.placeholder.com/300" class="chart-sidebar-avatar" alt="">
        <span>user1 name</span>
        <span class="badge badge-item badge-pill">14</span>
      </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="border:none">
        <img src="https://via.placeholder.com/300" class="chart-sidebar-avatar" alt="">
        <span>user2 name</span>
        <span class="badge badge-item badge-pill">14</span>
      </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="border:none">
        <img src="https://via.placeholder.com/300" class="chart-sidebar-avatar" alt="">
        <span>user3 name</span>
        <span class="badge badge-item badge-pill">14</span>
      </li>
    </ul>
  </div>

  <div class="col-8 chart-sidebar-line chat-room">
    <div class="title">
      <p>公開聊天室-右邊欄</p>
      <input type="hidden" class="selector" value="public">
    </div>

    <div class="chat-content" id="chatContent">

    </div>

    <form id="chat-form">
      <div class="input-group">
        <textarea type="text" placeholder="輸入訊息..." class="form-control" id="{{user.id}}" name="message"
          aria-describedby="messageBtn" rows="1"></textarea>
        <button type="submit" class="btn btn-outline-secondary" id="messageBtn">
          發送
        </button>
      </div>
    </form>

  </div>
</div>